<div class="card col-sm-4">
    <div class="card-body">
        <InputText class="form-control" @bind-Value="Clue.Name" />
        <InputTextArea class="form-control" @bind-Value="Clue.Description" rows="8" />
        <button class="form-control btn btn-danger" type="button" @onclick="HandleDelete">Delete</button>
    </div>
</div>
@code {
    [Parameter]
    public Clue Clue { get; set; }

    [Parameter]
    public EventCallback<Clue> OnClueDeleted { get; set; }

    private async Task HandleDelete()
    {
        if (OnClueDeleted.HasDelegate)
        {
            await OnClueDeleted.InvokeAsync(Clue);
        }
    }
}